$x_small: 360px;
$small: 780px;
$large: 1024px;

//screens less than 360px
$x_small_screen: "only screen and (max-width: #{$x_small})";

// screens under 760px
$small_screen: "only screen and (max-width: #{$small}) and (min-width: #{$x_small})";

// screens over 780px and under 1024px
$medium_screen: "only screen and (max-width: #{$large}) and (min-width: #{$small})";

// landscape
$landscape: (orientation: landscape);